<?xml version="1.0" encoding="UTF-8"?>

<?define Property_ProductVersion = "1.0.$Version$.0" ?>
<?define Property_ProductCode = "*" ?>
<?define Property_UpgradeCode = "A04A43A1-56F2-436F-9CA1-1FCA9BECE4A5" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Product description -->
  <Product Id="$(var.Property_ProductCode)"
           UpgradeCode="$(var.Property_UpgradeCode)"
           Name="Yodiwo mNode"
           Version="$(var.Property_ProductVersion)"
           Manufacturer="Yodiwo"
           Language="1033">

    <!-- Package description -->
    <Package InstallerVersion="200"
             Compressed="yes"
             Comments="Yodiwo mNode Installer Package"
             InstallPrivileges="limited"
             />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <!-- This information enables Windows Installer major upgrade functionality so users can seamlessly  -->
    <!-- install a new version of the product and have the old version automatically uninstall behind    -->
    <!-- the scenes. See the following topic in the MSDN Library for additional information:             -->
    <!-- http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/major_upgrades.asp   -->
    <!--
    <Upgrade Id="$(var.Property_UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Property_ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="$(var.Property_ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    -->

    <!-- This custom action prevents users from installing if a newer version of this product is already -->
    <!-- installed on the system. This is a part of Windows Installer major upgrade functionality.       -->
    <!-- <CustomAction Id="CA_BlockOlderVersionInstall" Error="A later version of [ProductName] is already installed." /> -->

    <!-- This condition enforces that the ALLUSERS property is not set because this MSI is only ever     -->
    <!-- intended to be a per-user installation.                                                         -->
    <Condition Message="Setting the ALLUSERS property is not allowed because package is per-user. Setup will now exit.">
      NOT ALLUSERS
    </Condition>


    <!-- This is a list of directories that are used by this product as installation locations or custom -->
    <!-- action file search locations.                                                                   -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="LocalAppDataFolder" Name="AppData">
        <Directory Id="YodiwoDIR" Name="Yodiwo">
          <Directory Id="INSTALLDIR" Name="mNode">
            <Component Id="DirectoryComp" Guid="5E664772-BF01-4B71-A78C-7D1CB45A5E5D">
              <File Id="main.exe" Source="$PackageContentDir$/Yodiwo.mNode.exe" KeyPath="yes" Checksum="yes"/>
              <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
              <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
        <Component Id="ShortcutComp" Guid="3DE61FB1-8516-4122-A3C4-8DC7DD86EDD7">
          <Shortcut Id="AppDestopShortcut"
                    Name="Yodiwo mNode"
                    Description="Yodiwo mNode"
                    Target="[#main.exe]"
                    WorkingDirectory="INSTALLDIR"/>
        </Component>
      </Directory>

      <Directory Id="StartupFolder">
        <Component Id="StartupShortcutComp" Guid="B5A662B3-EA32-4760-B185-848F249A7CF2">
          <Shortcut Id="AppStartupShortcut"
                    Name="Yodiwo mNode"
                    Description="Yodiwo mNode"
                    Target="[#main.exe]"
                    WorkingDirectory="INSTALLDIR"/>
        </Component>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="YodiwoProgramMenuFolder" Name="Yodiwo">
          <Directory Id="mNodeProgramMenuFolder" Name="mNode">
            <Component Id="ProgramMenuShortcutComp" Guid="1AC1CA6C-17CD-42A9-8AFB-F6E5769E5929">
              <Shortcut Id="AppProgramMenuShortcut"
                        Name="Yodiwo mNode"
                        Description="Yodiwo mNode"
                        Target="[#main.exe]"
                        WorkingDirectory="INSTALLDIR"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>


    </Directory>

    <!-- This is a list of features that are installed as a part of this product. In this case, there is -->
    <!-- only one feature. Each feature contains a list of components that it will install. Features can -->
    <!-- can be displayed and allow user selection in setup UI if desired.                               -->
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="DirectoryComp" />
      <ComponentGroupRef Id="CG.PackageFiles" />
      <ComponentRef Id="ShortcutComp" />
      <ComponentRef Id="StartupShortcutComp" />
      <ComponentRef Id="ProgramMenuShortcutComp" />
    </Feature>

    <!-- This property defines the ALLUSERS property and sets it to blank, which indicates that this     -->
    <!-- product will be  installed per-user instead of per-machine.                                     -->
    <Property Id="ALLUSERS" Secure="yes"/>

  </Product>
</Wix>
