<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Nest Authorization</title>
</head>
<body>
    <form action="/nest/auth/results" method="post">
        AccessToken:<br />
        <input type="text" name="accesstoken"><br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>