@using System
@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = ViewBag.IsPjax ? null : "Layout.cshtml";
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Node Pairing</h3>
    </div>
    <div class="box-body">
        <form action="/pairing/startpairing" data-pjax="#RenderBody">
            <div class="form-group">
                <input id="pair_btn" class="btn btn-warning " type="submit" value="Start Pairing" />
            </div>
        </form>
    </div>
</div>

