
.range {
    stroke-dasharray: 5, 2;
    visibility: visible;
    margin-top: 50px;
}

.bulb {
    stroke-dasharray: 5, 2;
    visibility: visible;
    margin-top: 100px;
    margin-left: 80px;
}
