<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor"/>
  </configSections>

  <system.web>
    <compilation>
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
      </buildProviders>
    </compilation>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <add key="webPages:Enabled" value="false"/>
  </appSettings>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="Nancy"/>
      <add assembly="System"/>
      <add assembly="Nancy.ViewEngines.Razor"/>
      <add assembly="Yodiwo.API.Plegma"/>
      <add assembly="Yodiwo.API.Glue"/>
      <add assembly="Yodiwo.API.Packages"/>
      <add assembly="Yodiwo.mNode.Plugins.mNodePlugin"/>
      <add assembly="Yodiwo.YPChannel"/>
      <add assembly="Yodiwo.mNode"/>
      <add assembly="Yodiwo.mNode.Plugin"/>
      <add assembly="Yodiwo.mNode.Core"/>
      <add assembly="Yodiwo.mNode.UI.NancySelfHost"/>
    </assemblies>
    <namespaces>
      <add namespace="Nancy"/>
      <add namespace="System"/>
      <add namespace="Nancy.ViewEngines.Razor"/>
      <add namespace="Yodiwo.API.Plegma"/>
      <add namespace="Yodiwo.API.Glue"/>
      <add namespace="Yodiwo.API.Packages"/>
      <add namespace="Yodiwo.YPChannel"/>
      <add namespace="Yodiwo.mNode"/>
      <add namespace="Yodiwo.mNode.ModelViews"/>
      <add namespace="Yodiwo.mNode.ModelViews.Plugins"/>
    </namespaces>
  </razor>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>

</configuration>
